astroid==2.12.9
attrs==22.1.0
autopep8==1.7.0
Cartopy==0.20.2
certifi==2022.6.15.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
cycler==0.11.0
dill==0.3.5.1
Fiona==1.8.21
fonttools==4.37.1
GDAL==3.4.3
geojson==2.5.0
geopandas==0.11.1
isort==5.10.1
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
matplotlib==3.5.3
mccabe==0.7.0
munch==2.5.0
numpy==1.23.3
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
platformdirs==2.5.2
pycodestyle==2.9.1
pylint==2.15.2
pymongo==4.2.0
pyogrio==0.4.1
pyparsing==3.0.9
pyproj==3.4.0
pyshp==2.3.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
Rtree==1.0.0
Shapely==1.8.4
six==1.16.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
wrapt==1.14.1
